<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishDir>..\..\artifacts\releases\1.0.0\clickonce\publish\</PublishDir>
    <PublishUrl>..\..\artifacts\releases\1.0.0\clickonce\publish\</PublishUrl>
    <Install>true</Install>
    <InstallFrom>Disk</InstallFrom>
    <UpdateEnabled>false</UpdateEnabled>
    <UpdateRequired>false</UpdateRequired>
    <UpdateMode>Foreground</UpdateMode>
    <BootstrapperEnabled>true</BootstrapperEnabled>
    <IsWebBootstrapper>false</IsWebBootstrapper>
    <MapFileExtensions>true</MapFileExtensions>
    <CreateWebPageOnPublish>false</CreateWebPageOnPublish>
    <OpenBrowserOnPublish>false</OpenBrowserOnPublish>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <ApplicationRevision>0</ApplicationRevision>
    <IsRevisionIncremented>false</IsRevisionIncremented>
    <PublisherName>Fido4</PublisherName>
    <ProductName>Privateer</ProductName>
    <PublishSingleFile>false</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <GenerateManifests>true</GenerateManifests>
    <SignManifests>true</SignManifests>
  </PropertyGroup>
</Project>
